# My Jupyter Notebook on IBM Watson Studio

Hello, Im Jon Vasquez i plan to be a data scientist in the near fuutre and i am starting with this course to begin my career.

Data Scienece Languages:<br>
Python, SQL, Java, Julia, Scala

Data Science Libraries:<br>
Pandas, TensorFlow, NumPY, SciPY


| No. | Data Science Tools |
| --- | --- |
| 1 | Jupyter |
| 2 | BigML |
| 3 | Apache Spark |
| 4 | Excel |

Here are some examples of the Arithmatic Expresessions<br>
Addition, 
: 1 + 1;

Subtraction, 
: 2 - 1;

Multiplication, 
: 3 * 2;

Division, 
: 12 / 4;

In [2]:
 (2*2)+1

5

In [17]:
time = float(input("Minutes: "))
time = time % (24 * 60)
hour = time // 60
time %= 60
minutes = time // 1
time %= 1
print("Hours-> %d" % (hour))

Minutes: 120
Hours-> 2

<i>The objective of the above cell is to convert minutes given into hours.<i>

-Jon Vasquez